.BoxX {
  color: rgb(31, 79, 147);
  background-color: rgb(248, 245, 240);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  grid-column: 1;
  grid-row: 6 / 8;
}

.BoxX li {
  list-style: none;
  white-space: nowrap;
}

.BoxX li:first-letter {
  text-transform: capitalize;
}

.BoxX .themes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#limeTheme {
  color: rgb(4, 113, 48);
}

#blueTheme {
  color: rgb(68, 191, 215);
}

#pinkTheme {
  color: rgb(247, 122, 167);
}

#classicTheme {
  color: rgb(31, 79, 147);
}

#brownTheme {
  color: rgb(157, 109, 34);
}
